.toggle-workflow-bar {
  display: flex;
  margin: 10px auto 0 auto;
  width: clamp(300px, 60%, 800px);

  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(46, 46, 46, 0.9);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--border-subtle);
  z-index: 1000;
}


.page-numbers {
  display: flex;
  gap: 10px;
}

.page-numbers span {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  color: var(--text-primary);
  transition: transform 0.2s ease, color 0.2s ease;
}

.page-numbers span:hover {
  transform: scale(1.1);
  color: #b0b0b0;
}

.page-numbers .active {
  font-weight: 700;
  color: var(--color-success);
}

.btn-secondary:disabled {
  opacity: 0.5; 
  cursor: not-allowed;  
  background-color: var(--bg-hover); 
}